@keyframes scroll {
    0% {
        transform: translateX(0%);
    }
    20%{
        transform: translateX(100%);
    }
    100% {
        transform: translateX(100%);
    }
}
@keyframes scroll2 {
    0% {
        transform: translateX(100%);
    }
    20%{
        transform: translateX(-500%);
    }
    100% {
        transform: translateX(-500%);
    }
}
@keyframes opacity {
  0%{
    opacity: 0%;
  }

  100%{
    opacity: 100%;
  }
}
@keyframes changecolor {
    0%{

    }
    14%{
        background-color: #FF0606;
    }
    28%{
        background-color: black;
        color: white;
    }
    42%{
        color: black;
        background-color: #35E500;
    }
    56%{
        background-color: #3200FC;
    }
    70%{
        background-color: #00D2FC;
    }

}