@keyframes scroll {
    0% {
        transform: translateX(0%);
    }
    20%{
        transform: translateX(100%);
    }
    100% {
        transform: translateX(100%);
    }
}
@keyframes scroll2 {
    0% {
        transform: translateX(100%);
    }
    20%{
        transform: translateX(-500%);
    }
    100% {
        transform: translateX(-500%);
    }
}