#glitch1 {
    margin: 25% 0 0 14%;
}

#glitch2 {
    margin: 12% 0 0 10%;
}

#glitch3 {
    margin: 8% 0 0 55%;
}

#glitch4 {
    margin: 41% 0 0 67%;
}

#glitch5 {
    margin: 23% 0 0 10%;
}

#glitch6 {
    margin: 6% 0 0 7%;
}

#glitch7 {
    margin: 33% 0 0 5%;
}

#glitch8 {
    margin: 24% 0 0 30%;
}

#glitch9 {
    margin: 12% 0 0 41%;
}

#glitch10 {
    margin: 76% 0 0 76%;
}

#glitch11 {
    margin: 90% 0 0 13%;
}

#glitch12 {
    margin: 12% 0 0 10%;
}

#glitch13 {
    margin: 65% 0 0 55%;
}

#glitch14 {
    margin: 5% 0 0 6%;
}

#glitch15 {
    margin: 43% 0 0 43%;
}
#glitch16 {
    margin: 20% 0 0 36%;
}
#glitch17 {
    margin: 4% 0 0 20%;
}
#glitch18 {
    margin: 14% 0 0 26%;
}
#glitch19 {
    margin: 26% 0 0 46%;
}

#glitch20 {
    margin: 0% 0 0 0%;
    width: 6%;
}
#glitch21 {
    margin: 22% 0 0 10%;
    width: 2%;

}
#glitch22 {
    margin: 26% 0 0 0%;
    width: 8%;
}
#glitch23 {
    margin: 14% 0 0 2%;

}
#glitch24{
    height: 80%;
    width: 2%;
    margin: 10% 0 0 6%;
}
#glitch25{
    height: 82%;
    width: 2%;
    margin: 10% 0 0 86%;
}
#glitch26{
    height: 46%;
    width: 2%;
    margin: 14% 0 0 4%;
}
#glitch27{
    height: 66%;
    width: 2%;
    margin: 14% 0 0 92%;
}
#glitch28{
    height: 4%;
    width: 30%;
    margin: 10% 0 0 26%;
}
#glitch29{
    height: 56%;
    width: 2%;
    margin: 14% 0 0 14%;
}
#glitch30{
    height: 50%;
    width: 2%;
    margin: 16% 0 0 16%;
}
#glitch31{
    height: 70%;
    width: 2%;
    margin: 2% 0 0 2%;
}
#glitch32{
    height: 52%;
    width: 2%;
    margin: 10% 0 0 90%;
}
#glitch32{
    height: 74%;
    width: 2%;
    margin: 6% 0 0 94%;
}
#glitch33{
    height: 70%;
    width: 2%;
    margin: 18% 0 0 20%;
}
#glitch34{
    height: 4%;
    width: 20%;
    margin: 54% 0 0 6%;
}
#glitch35{
    height: 4%;
    width: 20%;
    margin: 54% 0 0 80%;
}
#glitch36{
    height: 36%;
    width: 2%;
    margin: 30% 0 0 50%;
}
#glitch37{
    height: 60%;
    width: 2%;
    margin: 20% 0 0 54%;
}