#glitch1 {
    margin: 25% 0 0 14%;
    left: 14%;
    top: 25%
}

#glitch2 {
    margin: 12% 0 0 10%;
}

#glitch3 {
    margin: 8% 0 0 55%;
}

#glitch4 {
    margin: 41% 0 0 67%;
}

#glitch5 {
    margin: 23% 0 0 10%;
}

#glitch6 {
    margin: 6% 0 0 7%;
}

#glitch7 {
    margin: 33% 0 0 5%;
}

#glitch8 {
    margin: 24% 0 0 30%;
}

#glitch9 {
    margin: 12% 0 0 41%;
}

#glitch10 {
    margin: 76% 0 0 76%;
}

#glitch11 {
    margin: 90% 0 0 13%;
}

#glitch12 {
    margin: 12% 0 0 10%;
}

#glitch13 {
    margin: 65% 0 0 55%;
}

#glitch14 {
    margin: 5% 0 0 6%;
}

#glitch15 {
    margin: 43% 0 0 43%;
}
#glitch16 {
    margin: 10% 0 0 18%;
}
#glitch17 {
    margin: 2% 0 0 10%;
}
#glitch18 {
    margin: 7% 0 0 13%;
}
#glitch19 {
    margin: 13% 0 0 23%;
}

#glitch20 {
    margin: 0% 0 0 0%;
    width: 3%;
}
#glitch21 {
    margin: 11% 0 0 5%;
    width: 1%;

}
#glitch22 {
    margin: 13% 0 0 0%;
    width: 4%;
}
#glitch23 {
    margin: 7% 0 0 1%;

}
#glitch24{
    height: 40%;
    width: 1%;
    margin: 5% 0 0 3%;
}
#glitch25{
    height: 41%;
    width: 1%;
    margin: 5% 0 0 43%;
}
#glitch26{
    height: 23%;
    width: 1%;
    margin: 7% 0 0 2%;
}
#glitch27{
    height: 33%;
    width: 1%;
    margin: 7% 0 0 46%;
}
#glitch28{
    height: 2%;
    width: 15%;
    margin: 5% 0 0 13%;
}
#glitch29{
    height: 28%;
    width: 1%;
    margin: 7% 0 0 7%;
}
#glitch30{
    height: 25%;
    width: 1%;
    margin: 8% 0 0 8%;
}
#glitch31{
    height: 35%;
    width: 1%;
    margin: 1% 0 0 1%;
}
#glitch32{
    height: 26%;
    width: 1%;
    margin: 5% 0 0 45%;
}
#glitch32{
    height: 37%;
    width: 1%;
    margin: 3% 0 0 47%;
}
#glitch33{
    height: 35%;
    width: 1%;
    margin: 9% 0 0 10%;
}
#glitch34{
    height: 2%;
    width: 10%;
    margin: 27% 0 0 3%;
}
#glitch35{
    height: 2%;
    width: 10%;
    margin: 27% 0 0 40%;
}
#glitch36{
    height: 18%;
    width: 1%;
    margin: 15% 0 0 25%;
}
#glitch37{
    height: 30%;
    width: 1%;
    margin: 10% 0 0 27%;
}