#glitch1 {
    margin: 25% 0 0 14%;
}

#glitch2 {
    margin: 12% 0 0 10%;
}

#glitch3 {
    margin: 8% 0 0 55%;
}

#glitch4 {
    margin: 41% 0 0 67%;
}

#glitch5 {
    margin: 23% 0 0 10%;
}

#glitch6 {
    margin: 6% 0 0 7%;
}

#glitch7 {
    margin: 33% 0 0 5%;
}

#glitch8 {
    margin: 24% 0 0 30%;
}

#glitch9 {
    margin: 12% 0 0 41%;
}

#glitch10 {
    margin: 76% 0 0 76%;
}

#glitch11 {
    margin: 90% 0 0 13%;
}

#glitch12 {
    margin: 12% 0 0 10%;
}

#glitch13 {
    margin: 65% 0 0 55%;
}

#glitch14 {
    margin: 5% 0 0 6%;
}

#glitch15 {
    margin: 43% 0 0 43%;
}