@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap');
@import url('reset.css');
@import url('animations.css');
@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300..700&family=Oswald:wght@200..700&display=swap');

main
{
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    width: 1470px;
    background-color: #000000;
    height: 3680.36px;
    font-family: "Jura";
    color: white
}
h1{
    font-size: 312px;
    margin-left: 191px;
    margin-top: 329px;
}
.opening
{
    position: relative;
    width: 1950.5px;
    height: 1084.73px;

}
.ghost-rider
{
    display: flex;
    position: relative;
    height: 665.33px;
    flex-direction: row;
    animation: ease-out;
    animation-name: scroll;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-delay: 1s;
}
.ghost-rider2
{
    display: flex;
    position: relative;
    height: 665.33px;
    flex-direction: row;
    animation: ease-out;
    animation-name: scroll2;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-delay: 1s;
}
.green-glitch{
    background-color: #00FC15;
}
.red-glitch{
    background-color: #FC0000;
}
.blue-glitch{
    background-color: #3200FC;
}
.skyblue-glitch{
    background-color: #00D2FC;
}
#horizontal
{
    width: 3%;
    height: 12%;
    opacity: 0%;
}
#vertical
{
    width: 12%;
    height: 3%;
    opacity: 0%;
}
#rider
{
    margin-right: -100px;
    
}
.frame
{
    display: flex;
    flex-direction: row;
}
.anim-2
{
    display: flex;
    flex-direction: column;
    width: 620px;
    font-size: 13px;
    margin-left: 140px;
}
.anim-3
{
    display: flex;
    flex-direction: column;
    font-size: 15px;
    margin-top: 230px;

    width: 730px;
    height: 447px;
}
.anim-4
{
    justify-content: center;
    display: flex;
    flex-direction: column;
    width: 649px;
    height: 430px;
    font-size: 22px;
    font-weight: bold;
    gap: 40px;
    font-size: 13px;
    margin-left: 140px;
    color: black;
    background-color: white;
    padding-left: 40px;
    
}
.anim-5
{
    display: flex;
    background-image: url(../assets/Frame\ 22.svg);
    flex-direction: column;
    font-size: 15px;
    margin-top: 230px;
    margin-right: 200px;
    width: 693px;
    height: 432px;
}