@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap');
@import url('reset.css');
@import url('animations.css');
main
{
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    width: 1470px;
    background-color: #000000;
    height: 3680.36px;
}
div
{
    position: absolute;
}
.opening
{
    position: relative;
    width: 1950.5px;
    height: 1084.73px;

}
.ghost-rider
{
    display: flex;
    position: relative;
    height: 665.33px;
    gap: -100px;
    flex-direction: row;
}
.green-glitch{
    background-color: #00FC15;
}
.red-glitch{
    background-color: #FC0000;
}
.blue-glitch{
    background-color: #3200FC;
}
.skyblue-glitch{
    background-color: #00D2FC;
}
#horizontal
{
    width: 3%;
    height: 12%;
    opacity: 0%;
}
#vertical
{
    width: 12%;
    height: 3%;
    opacity: 0%;
}