@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap');
@import url('reset.css');
@import url('animations.css');
@import url('glitches.css');
@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300..700&family=Oswald:wght@200..700&display=swap');

body
{
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    background-color: #000000;
}
main
{
    display: flex;
    flex-direction: column;
    font-family: "Jura";
    color: white;
}
h1{
    font-size: 21vw;
    left: 13%;
    top: 22%;
    position: absolute;
}
.opening
{
    position: relative;
    width: 100%;
    height: 73.8vw;

}
.riders-frame
{
    display: flex;
    width: 100%;
    overflow-x: hidden;
}
.ghost-rider
{
    display: flex;
    width: 100%;
    position: relative;
    height: 45.26vw;
    flex-direction: row;
    animation: ease-out;
    animation-name: scroll;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-delay: 1s;
}
.ghost-rider2
{
    display: flex;
    position: relative;
    height: 45.26vw;
    flex-direction: row;
    animation: ease-out;
    animation-name: scroll2;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-delay: 1s;
}
.green-glitch{
    background-color: #00FC15;
}
.red-glitch{
    background-color: #FC0000;
}
.blue-glitch{
    background-color: #3200FC;
}
.skyblue-glitch{
    background-color: #00D2FC;
}
.violet-glitch{
    background-color: #B700FF;
}
.white-glitch{
    background-color: white;
}
.horizontal {
    position: absolute;
    width: 3%;
    height: 12%;
}
.anim-1{
    width: 100%;
    height: fit-content;
    animation: opacity 0.2s ease infinite;
    animation-delay: var(--ip1);
}
.anim-2-frame{
    width: 100%;
    height: fit-content;
    animation: opacity 0.2s ease infinite;
    animation-delay: var(--ip1);

}
.frame-main{
    width: 100%;
    height: fit-content;
}
.glitch-anim{
    animation: opacity 0.2s ease infinite;
    animation-delay: var(--ip1);
}
.animp{
    animation: epilepsy 0.3s ease infinite;
    animation-delay: var(--ip1);
}
.vertical {
    position: absolute;
    width: 12%;
    height: 3%;
}
#rider
{
    margin-right: -6.8vw;
    
}
.frame
{
    display: grid;
    flex-direction: row;
    width: 100%;
}
.anim-2
{
    display: flex;
    position: relative;
    flex-direction: column;
    width: 50%;
    font-size: 1.1vw;
    margin-left: 9.5vw;
    grid-area: 1/1;
    
    
}
.anim-3
{
    display: flex;
    flex-direction: column;
    position: relative;
    font-size: 1.1vw;
    margin-top: 12.5vw;
    grid-area: 1/1;
    width: 50%;
    height: 30.4vw;
    margin-left: 50vw;
    padding-left: 4.8vw;
    padding-top: 5.3vw;
}
.display-none{
    animation: heart 0.8s ease infinite;
}
.ending{
    margin-left: 50%;
    color: #35E500;
    animation: opacity 0.8s ease-out infinite;
    animation-delay: 100ms;
}

.movedown{
    animation: text 1s ease-out infinite;
}
.anim-4
{
    justify-content: center;
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 29.2vw;
    font-size: 1.5vw;
    font-weight: bold;
    gap: 2.7vw;
    margin-left: 9.5vw;
    color: black;
    background-color: white;
    padding-left: 2.7vw;
    grid-area: 1/1;
    animation: changecolor 0.5s infinite ease-out;
    
}
.anim-5
{
    background-image: url(../assets/Frame\ 22.svg);
    background-repeat: no-repeat;
    margin-top: 15.6vw;
    margin-left: 49vw;
    width: 50%;
    height: 29.4vw;
    grid-area: 1/1;
    position: relative;
}
.row
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 4.6vw;
}
footer
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 1.8vw;
    color: white;
    font-family: "Jura";
    padding: 2.2vw;
    height: 19.5vw;
    margin-top: 3vw;
}

@media screen and (max-width: 1024px) {
    
    .body{
        align-items: center;
    }



    .ghost-rider, .ghost-rider2 {
        height: 30vh;         
        min-height: 200px;
    }
    .ghost-rider img, .ghost-rider2 img {
        height: 100%;
        width: auto;
    }
    

    .frame {
        display: flex;
        flex-direction: column; 
        gap: 20px;
    }


    .anim-2, .anim-3, .anim-4, .anim-5 {
        width: 90%;         
        margin: 0 auto;        
        padding: 20px;
        height: auto;         
        grid-area: auto;
        box-sizing: border-box; 
    }


    .anim-2 {
        font-size: 14px;
        line-height: 1.4;
    }


    .anim-3 {
        margin-left: auto;    
        margin-top: 0;
        padding-left: 20px;  
        padding-top: 20px;
    }


    .anim-4 {
        gap: 20px;
        font-size: 16px;
        text-align: center;  
    }


    .anim-5 {
        margin-top: 20px;
        margin-left: auto;
        background-size: cover;
        background-position: center;
        min-height: 300px;     /
    }


    footer {
        flex-direction: column;
        height: auto;
        text-align: center;
        gap: 30px;
        margin-top: 40px;
        padding-bottom: 40px;
    }

    .row {
        font-size: 32px;     
        align-items: center;
        gap: 10px;
    }
    
    .ending {
    
 
    .horizontal, .vertical {
        opacity: 0.7;
    }
    }}
