@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap');
@import url('reset.css');
@import url('animations.css');
@import url('glitches.css');
@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300..700&family=Oswald:wght@200..700&display=swap');

body
{
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    background-color: #000000;
}
main
{
    display: flex;
    flex-direction: column;
    font-family: "Jura";
    color: white;
}
h1{
    font-size: 312px;
    margin-left: 191px;
    margin-top: 329px;
    position: absolute;
}
.opening
{
    position: relative;
    width: 100%;
    height: 1084.73px;

}
.riders-frame
{
    display: flex;
    width: 100%;
    overflow-x: hidden;
}
.ghost-rider
{
    display: flex;
    width: 100%;
    position: relative;
    height: 665.33px;
    flex-direction: row;
    animation: ease-out;
    animation-name: scroll;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-delay: 1s;
}
.ghost-rider2
{
    display: flex;
    position: relative;
    height: 665.33px;
    flex-direction: row;
    animation: ease-out;
    animation-name: scroll2;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-delay: 1s;
}
.green-glitch{
    background-color: #00FC15;
}
.red-glitch{
    background-color: #FC0000;
}
.blue-glitch{
    background-color: #3200FC;
}
.skyblue-glitch{
    background-color: #00D2FC;
}
.violet-glitch{
    background-color: #B700FF;
}
.white-glitch{
    background-color: white;
}
.horizontal {
    position: absolute;
    width: 3%;
    height: 12%;
}
.anim-1{
    width: 100%;
    height: fit-content;
    animation: opacity 0.2s ease infinite;
    animation-delay: var(--ip1);
}
.anim-2-frame{
    width: 100%;
    height: fit-content;
    animation: opacity 0.2s ease infinite;
    animation-delay: var(--ip1);

}
.frame-main{
    width: 100%;
    height: fit-content;
}
.glitch-anim{
    animation: opacity 0.2s ease infinite;
    animation-delay: var(--ip1);
}
.animp{
    animation: epilepsy 0.3s ease infinite;
    animation-delay: var(--ip1);
}
.vertical {
    position: absolute;
    width: 12%;
    height: 3%;
}
#rider
{
    margin-right: -100px;
    
}
.frame
{
    display: grid;
    flex-direction: row;
    width: 100%;
}
.anim-2
{
    display: flex;
    flex-direction: column;
    width: 50%;
    font-size: 13px;
    margin-left: 140px;
    grid-area: 1/1;
    
    
}
.anim-3
{
    display: flex;
    flex-direction: column;
    font-size: 15px;
    margin-top: 184px;
    grid-area: 1/1;
    width: 50%;
    height: 447px;
    margin-left: 735px;
    padding-left: 71px;
    padding-top: 78px;
}
.display-none{
    animation: heart 0.8s ease infinite;
}
.ending{
    margin-left: 50%;
    color: #35E500;
    animation: opacity 0.8s ease-out infinite;
    animation-delay: 100ms;
}
.movedown{
    animation: text 1s ease-out infinite;
}
.anim-4
{
    justify-content: center;
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 430px;
    font-size: 22px;
    font-weight: bold;
    gap: 40px;
    font-size: 13px;
    margin-left: 140px;
    color: black;
    background-color: white;
    padding-left: 40px;
    grid-area: 1/1;
    animation: changecolor 0.5s infinite ease-out;
    
}
.anim-5
{
    display: flex;
    background-image: url(../assets/Frame\ 22.svg);
    flex-direction: column;
    font-size: 15px;
    margin-top: 230px;
    margin-left: 720px;
    width: 50%;
    height: 432px;
    grid-area: 1/1;
}
.row
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 68px;
}
footer
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 26px;
    color: white;
    font-family: "Jura";
    padding: 32px;
    height: 287px;
    margin-top: 45px;
}